---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /tests/terratest
    schedule:
      interval: daily
