---
name: Update Library Templates

# on:
#   schedule:
#     - cron: '0 12 1 * *'

on: workflow_dispatch

env:
  remote_repository: "Azure/Enterprise-Scale"
  branch_name: "patch-library"
  pr_title: "Update Library Templates (automated)"
  pr_body: "This is an automated 'pull_request' containing updates to the library templates stored in 'modules/archetypes/lib'.\nPlease review the 'files changed' tab to review changes."

jobs:
  update-templates:
    name: Update Library Templates
    runs-on: ubuntu-latest
    steps:

      - name: Local Repository Checkout
        uses: actions/checkout@v2
        with:
          path: ${{ github.repository }}

      - name: Remote Repository Checkout
        uses: actions/checkout@v2
        with:
          repository: ${{ env.remote_repository }}
          path: ${{ env.remote_repository }}
          ref: main

      - name: Create and checkout branch
        run: |
          git config user.name github-actions
          git config user.email action@github.com
          git checkout -b ${{ env.branch_name }}
        working-directory: ${{ github.repository }}

      - name: Update Library Templates 
        run: |
          Write-Host "==> Installing Az.Accounts PowerShell Module..."
          Install-Module -Name "Az.Accounts" -MinimumVersion "2.2.3" -Force
          Write-Host "==> Running script..."
          ${{ github.repository }}/.github/scripts/Invoke-LibraryUpdate.ps1 `
            -TargetModulePath ${{ github.workspace }}/${{ github.repository }} `
            -SourceModulePath ${{ github.workspace }}/${{ env.remote_repository }} `
            -UseCacheFromModule
        shell: pwsh

      - name: Add files, commit and push
        run: |
          git add modules/archetypes/lib
          git commit -m '${{ env.pr_title }}'
          git push origin ${{ env.branch_name }} -f
        working-directory: ${{ github.repository }}

      - name: Create pull request
        run: |
          gh pr create \
          --title "${{ env.pr_title }}" \
          --body "${{ env.pr_body }}" \
          --base "${{ github.ref }}" \
          --head "${{ env.branch_name }}"
        working-directory: ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}